<div appLayoutCard>
  <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
    <mat-icon>perm_identity</mat-icon>
    Customer Information
  </h2>

  <form [formGroup]="form" class="grid grid-cols-1 gap-1">
    <mat-form-field appearance="outline">
      <mat-label>Fullname</mat-label>
      <input matInput type="text" formControlName="name" />
      <mat-error>Fullname is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
      @if (form.controls.email.hasError('required')) {
        <mat-error>Email is required</mat-error>
      } @else if (form.controls.email.hasError('email')) {
        <mat-error>Please enter a valid email</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input matInput type="text" formControlName="phone" />
      <mat-error>Phone is required</mat-error>
    </mat-form-field>
    <ng-content />
  </form>
</div>
