<div class="flex items-center gap-3">
  <div class="inline-flex items-center">
    <button
      matIconButton
      [disabled]="quantity() <= minQuantity()"
      (click)="quantityChange.emit(quantity() - 1)"
    >
      <mat-icon>remove</mat-icon>
    </button>
    <div class="px-3 select-none">{{ quantity() }}</div>
    <button
      matIconButton
      [disabled]="quantity() >= maxQuantity()"
      (click)="quantityChange.emit(quantity() + 1)"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
