<div>
  <div class="grid grid-cols-[80px_3fr_1fr_1fr_1fr] items-center">
    <img
      [src]="item().product.imageUrl"
      class="size-20 border border-gray-200 rounded-sm object-fill"
    />

    <div class="text-gray-900 text-xl pl-2 pr-5 line-clamp-3 leading-tight">
      {{ item().product.name }}
    </div>

    <div class="text-gray-900 text-base text-center">${{ item().product.price }}</div>

    <app-quantity-selector
      [quantity]="item().quantity"
      (quantityChange)="handleUpdateQuantity($event)"
    />

    <div class="flex items-center justify-end gap-x-1">
      <div class="text-blue-800 text-base text-center font-medium">${{ total() }}</div>
      <button small matIconButton class="danger" (click)="confirmRemove()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
