<div class="flex gap-4">
  <aside class="w-50 h-fit sticky top-20 z-50">
    <div class="bg-white px-2 pt-4 pb-2 rounded-md">
      <h1 class="text-sm font-semibold text-black mb-2 px-3">Categories</h1>
      <div class="flex flex-col items-start gap-y-0.5">
        @if (categories.isLoading()) {
          @for (i of Array.from({ length: 4 }); track i) {
            <div class="w-full h-9 px-3 py-2">
              <div class="h-6 bg-gray-200 rounded animate-pulse w-full"></div>
            </div>
          }
        }

        @if (categories.hasValue()) {
          @for (category of categories.data(); track category.code) {
            <button
              matButton
              class="w-full justify-start! font-normal!"
              [class]="
                selectedCategory() === category.code
                  ? 'bg-blue-50! text-blue-600! font-semibold!'
                  : 'text-gray-800!'
              "
              (click)="onCategoryClick(category.code)"
            >
              {{ category.name }}
            </button>
          }
        }
      </div>
    </div>
  </aside>

  <main class="flex-1 min-w-0">
    <ng-content />
  </main>
</div>
